body{ /*Configurações do corpo*/
    font-family:tahoma;
    text-align: center;
    margin:0
}

.logo img{ /*Configurações da logo*/
    height:200px;
    align-items: center;
    margin:35px;
}

.cabeçalho{ /*Configurações gerais do menu*/
    margin:auto;
    width:90%;
    height:50px;
}
.cabeçalho a{ /*Configurações botões do menu*/
    text-decoration:none;
    text-align:right;
    color:white;
    background-color:#1C6E9D;
    font-weight:bold;
    padding:10px 24px;
    border-radius:20px;
}

.link-corretores{ /*botão de corretores*/
    text-decoration:none;
    text-align:right;
    color:#1C6E9D;
    background-color:white;
    font-weight:bold;
    padding:10px 24px;
    border-radius:20px;
    box-shadow: 5px 5px 15px #081f2c;
}

.banner-imobiliaria{ /*banner colocados no HTML*/
    width: 100%;
    background-color: #1C6E9D;
    border-bottom: 5px solid #1C6E9D;
}

.fundo-azul{ /*configuração gerais do fundo azul*/
    width:auto;
    background-color: #1C6E9D;
    color:white;
    padding:20px 10% 40px 10%;
    line-height: 40px;
}
.fundo-azul p{ /*configuração do paragrafo fundo azul*/
    padding-bottom: 20px;
}

.fundo-branco{ /*configuração gerais do fundo branco*/
    width:auto;
    padding:20px 10% 40px 10%;
    line-height: 40px;
}
.fundo-branco p{ /*configuração paragrafo do fundo branco*/
    padding-bottom:0;
}
.fundo-branco h2{/*configuração do titulo do fundo branco*/
    color:#1C6E9D;
}
.fundo-branco a{/*configuração do link do fundo branco*/
    border:1px solid #1C6E9D;
    background-color: #cfe6f3;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
}

.fundo-branco .telefone{/*icone de telefone ao lado dos contatos*/
    width: 20px;
    padding-right: 10px ;
}

span{ /*configuração gerais do span*/
    font-weight:bold;
}

li{/*configuração gerais de listas*/
    line-height: 30px;
    background-color: rgba(221, 219, 219, 0.301);
    border-radius: 30px;
    box-shadow: 5px 5px 15px #d6e3eb;
    font-weight:bold;
    color:#1C6E9D;
    padding: 15px 5px 15px 5px;
    
}

iframe{/*configuração gerais do iframe*/
    width:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.rodapé{
    background-color: #081f2c;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 15px;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.fundo-branco .background{
    background-image: url('/img/sobre');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100px;

}